serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ''
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
system:
  name: systemone
  pathName: systemOne
deploy:
  fitnesse: false
  jsclient: true
data:
  dataDividers: cora jsClient systemOne
externalAccess:
  systemUrl: http://mustBeSetOnSpecificEnvironmentValuesFile
  applicationName: systemOne
  deploymentName: SystemOne - mustBeSetOnSpecificEnvironmentValuesFile
  loginRestUrl: http://mustBeSetOnSpecificEnvironmentValuesFile
  loginPathSystem: /login/rest/
port:
  apache: 30980
apache:
  useExtraEnvs: false
shibboleth:
  entityId: mustBeSetOnSpecificEnvironmentValuesFile
  domain: mustBeSetOnSpecificEnvironmentValuesFile
fitnesse:
  contextRoot: fitnesse
  baseUrl: http://apache/
  loginUrl: http://apache/login/
docker:
  rabbitmq: cora-docker-rabbitmq:1.4.0
  fedora: cora-docker-fedora:1.3.0
  solr: cora-docker-solr:1.3.0
  idplogin: cora-docker-idplogin:1.7.0
  iip: cora-docker-iipimageserver:1.3.0
  binaryconverter: cora-docker-binaryconverter:1.9.0
  gatekeeper: cora-docker-gatekeeper:1.2.0
  login: cora-docker-login:1.4.0
  jsclient: cora-docker-jsclient:1.30.0
  postgresql: systemone-docker-postgresql:1.69.0
  fitnesse: systemone-docker-fitnesse:1.49.0
  rest: systemone-docker:1.31.0
  apache: systemone-docker-apache:1.17.0
  console: cora-docker-console:1.2.0
