serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ''
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
system:
  name: alvin
  pathName: alvin
deploy:
  fitnesse: false
  jsclient: true
  alvinclient: true
data:
  dataDividers: cora jsClient alvin
externalAccess:
  systemUrl: http://mustBeSetOnSpecificEnvironmentValuesFile
  applicationName: alvin
  loginPathSystem: /login/rest/
  alvinClientPath: alvinclient
port:
  apache: 30981
apache:
  useExtraEnvs: true
  extraEnvs:
    - name: ALVIN_CLIENT_CONTEXT_ROOT_ARG
      value: alvinclient
shibboleth:
  entityId: mustBeSetOnSpecificEnvironmentValuesFile
  domain: mustBeSetOnSpecificEnvironmentValuesFile
django:
  allowedHosts: mustBeSetOnSpecificEnvironmentValuesFile
fitnesse:
  contextRoot: fitnesse
  baseUrl: http://apache/
  loginUrl: http://apache/login/
docker:
  rabbitmq: cora-docker-rabbitmq:1.4.0
  fedora: cora-docker-fedora:1.3.0
  solr: cora-docker-solr:1.3.0
  idplogin: cora-docker-idplogin:1.7.0
  iip: cora-docker-iipimageserver:1.3.0
  login: cora-docker-login:1.4.0
  jsclient: cora-docker-jsclient:1.31.0
  binaryconverter: cora-docker-binaryconverter:1.9.0
  postgresql: alvin-docker-postgresql:1.97.0
  fitnesse: alvin-cora-docker-fitnesse:1.23.0
  gatekeeper: alvin-docker-gatekeeper:1.3.0
  rest: alvin-docker-cora:1.27.0
  console: cora-docker-console:1.2.0
  alvinclient: alvin-docker-alvinclient:1.19.0
  apache: alvin-docker-apache:1.12.0
