serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ''
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
system:
  name: diva
  pathName: diva
deploy:
  fitnesse: false
  jsclient: true
  divaclient: true
  playwright: false
data:
  dataDividers: cora jsClient diva
security:
  divaClientSecureSessionCookie: true
externalAccess:
  systemUrl: http://mustBeSetOnSpecificEnvironmentValuesFile
  divaClientBasePath: /divaclient
  restToPathSystem: /rest/
  iiifToPathSystem: /iiif/
  loginPathSystem: /login/rest/
port:
  apache: 30982
apache:
  useExtraEnvs: true
  extraEnvs:
    - name: DIVA_CLIENT_CONTEXT_ROOT_ARG
      value: divaclient
shibboleth:
  entityId: mustBeSetOnSpecificEnvironmentValuesFile
  domain: mustBeSetOnSpecificEnvironmentValuesFile
fitnesse:
  contextRoot: fitnesse
  baseUrl: http://apache/
  loginUrl: http://apache/login/
docker:
  rabbitmq: cora-docker-rabbitmq:1.4.0
  fedora: cora-docker-fedora:1.3.0
  solr: cora-docker-solr:1.3.0
  idplogin: cora-docker-idplogin:1.4.0
  iip: cora-docker-iipimageserver:1.3.0
  login: cora-docker-login:1.3.0
  jsclient: cora-docker-jsclient:1.26.0
  binaryconverter: cora-docker-binaryconverter:1.8.0
  postgresql: diva-docker-postgresql:1.134.0
  fitnesse: diva-cora-docker-fitnesse:1.27.0
  gatekeeper: diva-docker-gatekeeper:1.3.0
  rest: diva-docker-cora:1.17.0
  divaclient: diva-docker-divaclient:1.87.0
  apache: diva-docker-apache:1.12.0
  jobindex: cora-docker-console:1.0.0
  playwright: diva-docker-playwright:1.35.0
