---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-postgres-volume-claim
  labels:
    app: diva-postgres
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-archive-read-write-volume-claim
  labels:
    app: diva-archive
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-converted-files-read-write-volume-claim
  labels:
    app: diva-converted-files
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alvin-index-read-write-volume-claim
  labels:
    app: alvin-index
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: diva-postgres-volume
  labels:
    type: local
    app: diva-postgres
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/minikube/diva/postgresql
  claimRef:
    namespace: diva
    name: diva-postgres-volume-claim

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: diva-archive-volume
  labels:
    type: local
    app: diva-archive
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/minikube/diva/archive
  claimRef:
    namespace: diva
    name: diva-archive-read-write-volume-claim

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: diva-converted-files-volume
  labels:
    type: local
    app: diva-converted-files
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/minikube/diva/convertedFiles
  claimRef:
    namespace: diva
    name: diva-converted-files-read-write-volume-claim
    
---